@charset "utf-8";
body {font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;font-size: 12px;color: #333;background: #F1F1F1;margin: 0;}
img {border: none;}
a {color: #333;text-decoration: none;}
a:hover {color: #FF88AF;text-decoration: none;}
ul,dl,dt,dd,h1,h2,h3,p,form,input {font-weight: normal;margin: 0;padding: 0;list-style-type: none;}
li,dt,dd {display: inline;float: left;}
.header {position: fixed;top: 0;left: 0;margin: 0 auto;z-index: 1;width: 100%;height: 60px;background: #fff;box-shadow: 0 1px 3px rgba(26,26,26,.1);}
.mainnav {width: 1018px;height: 61px;margin: 0 auto;}
.logo {background: url(img/logo.png) repeat-x left top;float: left;height: 60px;width: 100px;overflow: hidden;}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2){.logo{background: url(img/logo2x.png);background-size: 100px 60px}}
.logo a {text-indent: -9999px;float: left;height: 59px;width: 100px;}
.menu {font-size: 14px;color: #FFF;float: left;height: 60px;width: 642px;padding-left: 18px;}
.menu a {display: inline-block;padding: 20px 0;margin:0 12px;}
.menu li.current-menu-item a,.menu li.current-menu-parent a,.menu a:hover {color: #FF88AF;text-decoration: none;}
.menu a:active{color: #ff6b9c}
.search {font-size: 14px;float: right;padding: 14px 0}
.search input {line-height: 16px;color: #999;float:left;width:178px;height: 14px;padding: 8px;border: 1px solid #DDD;border-right: none;outline: none;}
.search input:focus {border-color: #FF88AF;}
.search button {color: #FFF;background-color: #FF88AF;float: left;height: 32px;width: 54px;margin: 0;padding: 0;border: none;cursor: pointer;font-size: 14px;}
.search form{height: 32px}
.main {width: 1018px;margin: 0 auto;padding-top: 70px;_padding-top: 0px;}
.main-content{background-color: #ffffff;float: left;width: 748px;}
.postlist {float: left;width: 748px}
.subnav {float:left;width: 748px;border-bottom: 1px solid #EEE;}
.subnav a {background-color: #EEE;display: inline-block;margin: 10px 0 10px 10px;padding: 4px 10px;line-height: 18px}
.subnav a.on,.subnav a:hover {color: #FFF;background-color: #FF88AF;}
.subnav a:active{background: #ff6b9c}
.postlist ul {float:left;width: 748px;margin-bottom: 10px}
.postlist ul li {background-color: #EEE;width: 236px;margin-top: 10px;margin-left: 10px;}
#pins li{height: 416px;}
.postlist ul li.comment {background-color: #FFF;height: auto;width: 728px;margin: 0;padding: 10px;border-bottom: 1px solid #EEE;}
.postlist ul li.comment img {margin:10px 44px 22px;width: 640px}
#pins span {display: inline-block;height: 16px;line-height: 18px; width: 216px;padding-top: 8px;padding-right:10px;padding-left: 10px;text-overflow: ellipsis;overflow: hidden;margin-bottom: 5px}
#pins span a,.hotlist span a{height: 16px;}
#pins span.time,.hotlist span.time {background: url(img/time.gif) no-repeat left 3px;padding: 0 10px 0 16px;margin-left: 10px; height: 18px;width: auto;line-height: 18px}
.tags {float: left;width: 746px;padding: 8px 1px 2px 1px;height: auto}
.tags dt {width: 720px;padding: 8px 0 8px 15px;color: #ff88af;font-size: 16px}
.tags dd {height: 169px;width: 113px;margin-left: 10px;}
.tags dd img {display: block;margin-bottom: 12px;padding: 2px;border: 1px dotted #DDD;width:107px;height: 107px;}
.tags a {text-align: center;float: left;height: 144px;width: 113px;}
.tags a:hover img {border-color: #FF88AF;}
.tags i {color: #999;text-align: center;float: left;height: 20px;width: 113px;}
.pagenavi,.pagenavi-cm{text-align:center;float: left;width: 748px;padding: 20px 0; letter-spacing:-0.307em;*letter-spacing:normal;*word-spacing:-1px;word-wrap:normal;white-space:nowrap;color:#999;}
.pagenavi-cm{padding: 15px 0 25px 0}
.pagenavi a{display: inline-block;*display:inline;vertical-align: top;}
.pagenavi a span:active,.pagenavi-cm a:active {background:#ff6b9c;border: 1px solid #ff6b9c}
.pagenavi span,.pagenavi-cm a,.pagenavi-cm span{display:inline-block;*zoom:1;vertical-align:top;font-size:12px;letter-spacing:normal;color: #fff;padding:5px 9px;border: 1px solid #ff88af;background: #ff88af;margin:0 3px;line-height: 100%}
.pagenavi a span,.pagenavi-cm a{background:#fafafa;color: #333;border: 1px solid #ddd;background:#fafafa;}
.pagenavi a span:hover,.pagenavi-cm a:hover,.pagenavi-cm span.page-numbers.current{color: #fff;border: 1px solid #ff88af;background: #ff88af}
.pagenavi a span:active,.pagenavi-cm a:active{color: #fff;border: 1px solid #ff6b9c;background: #ff6b9c}
.pagenavi .current span{margin: 0;padding: 0;border: none;}
.pagenavi .dots,.pagenavi-cm .dots{background: #fff;color: #000;border: none;padding-top:2px;}
.main .sidebar {float: right;width: 260px;position: relative;}
.sidebar div,.sidebar dl {background-color: #FFF;}
.widgets_ad{margin-bottom: 10px;font-size: 14px;padding: 5px}
.widgets_ad span{font-size: 14px;line-height: 20px;width: 240px;padding: 5px;border-bottom: 1px solid #EEE;display: block;color: #FF6B9C}
.widgets_ad a{height: 300px;}
.sidebar div.widgets_fix {background-color: #EEE;width: 260px;}
.widgets_top {margin-bottom: 10px;width: 260px;font-size:0;padding-bottom: 10px}
.widgets_top h3 {margin: 0 auto; padding: 5px; width: 240px;font-size: 14px;font-weight: bold;line-height: 22px; border-bottom: 1px solid #EEE;}
.widgets_top a{display: inline-block;margin-top: 10px;margin-left: 10px;}
.widgets_top img {width: 115px;height: 115px;}
.widgets_like {height: 298px;width: 260px;}
.widgets_like dt {font-size: 14px;font-weight: bold;width: 260px;margin-bottom: 5px;}
.widgets_like span {background-color: #EEE;float: left;height: 21px;width: 120px;padding-top: 8px;padding-left: 10px;cursor: pointer;}
.widgets_like span:hover {color: #FF88AF;}
.widgets_like span.on {color: #FF88AF;background-color: #FFF;}
.widgets_like dd {height: 16px;line-height: 18px; width: 240px;margin: 5px 10px;text-overflow: ellipsis;overflow: hidden;}
.widgets_like dd a{height: 16px;display: block;}
.widgets_like dd.no {display: none;}
.all {background-color: #FFF;float: left;width: 748px;}
.all h3 {font-size: 14px;float: left;height: 32px;width: 730px;padding-top: 16px;padding-left: 12px;}
.all .open {float: left;height: 40px;width: 690px;padding-left: 28px;padding-top: 10px;}
.all .open em {color: #FFF;text-align: center;background-color: #FF88AF;float: left;height: 18px;width: 90px;padding: 5px 0;cursor: pointer;}
.all .open i {float: left;height: 18px;width: 150px;padding-top: 5px;padding-left: 10px;}
.all .year {font-size: 18px;line-height: 32px;text-align: center;float: left;height: 32px;width: 748px;border-bottom: 1px solid #EEE;}
.all ul {display: inline;float: left;width: 700px;margin-left: 30px;padding-top: 20px;border-left: 1px solid #EEE;}
.all li {background: url(img/month.gif) no-repeat left 5px;width: 698px;padding-bottom: 18px;}
.all li p {color: #999;float: left;width: 680px;padding-left: 15px;}
.all li p.month {cursor: pointer;}
.all li em {font-size: 14px;color: #333;font-weight: bold;}
.all li p.url {line-height:30px;color: #333;display: none;padding-top: 5px;margin-left: 10px}
.all li p.on {display: inline;}
.content {background-color: #FFF;float: left;width: 748px;}
.currentpath{padding:10px;border-bottom: 1px solid #EEE;float: left;width: 728px}
.main-title {font-size: 18px;font-weight: bold;float: left;height: 24px;width: 735px;padding-top: 10px;padding-left: 15px;}
.main-meta {color: #999;float: left;height: 38px;width: 738px;padding-left: 15px;border-bottom: 1px solid #EEE;}
.main-meta span {display: inline-block;margin-top: 8px;margin-right: 10px;}
.main-meta span.share {display: inline;float: right;height: 28px;width: 187px;margin-top: 0;margin-right: 0;}
.main-meta a {color: #999;}
.main-meta a:hover {color: #FF88AF;text-decoration: none;}
.main-image {text-align: center;float: left;width: 748px;position: relative;}
.main-image p{margin-top: 20px;}
.main-image p a{display: block;}
.main-tags {float: left;height: 38px;width: 740px;margin-top: 10px}
.main-tags span,.main-tags a {background-color: #EEE;display: inline; padding: 5px 6px;margin-right: 8px;}
.main-tags span {background-color: #FFF;margin-left: 5px;}
.hotlist {float: left;width: 748px;padding-bottom: 10px;}
.hotlist dt {font-size: 14px;font-weight: bold;line-height: 22px;width: 728px;padding: 5px 10px 4px 10px;border-top: 10px solid #EEE;border-bottom: 1px solid #EEE;}
.hotlist dd {margin-top: 10px;margin-left: 10px;width: 236px;height: 220px;background-color: #EEE;}
.hotlist span {display: inline-block;height: 16px;line-height: 18px; width: 226px; padding-top: 8px;padding-left: 10px;text-overflow: ellipsis;overflow: hidden;margin-bottom: 5px}
.clearfloat {clear: both;height: 0px;}
.friendlinks {height: 90px;width: 1018px;margin: 10px auto 0 auto;_margin-top: 0;}
.friendlinks span {font-weight: bold;background-color: #FFF;float: left;height: 24px;width: 738px;padding-top: 8px;padding-left: 10px;}
.friendlinks span.url {font-weight: normal;height: 52px;padding-top: 10px;border-top: 1px solid #EEE;}
.friendlinks a {display: inline-block;margin-right: 10px;margin-bottom: 9px;}
.footer {text-align: center;width: 1018px;margin: 14px auto}
.footer img {margin: 8px 0;}
a.footer_logo {display: block;}
.comment-meta {padding-bottom: 6px;margin-bottom: 6px;border-bottom: 1px dotted #E7E7E7;}
.main .postlist li a,.hotlist dd a{display: inline-block;}
#pins img:hover,.widgets_top img:hover,.hotlist img:hover{opacity: .85;filter: alpha(opacity=85);}
.clearfix:after{content:'.';display:block;height:0;clear:both;visibility:hidden;}
.clearfix{*zoom:1;}
.clearfix .clear{_height:0px;}

.totop {position: fixed;right: 30px;transition: bottom ease .3s;bottom: -85px;z-index: 1;cursor:pointer;}
.totop .cbbtn {width: 40px;height: 40px;display: block;background-color: #ff88af;}
.totop .gotop {transition: background-color ease .3s;margin-top: 1px;}
.totop .gotop .up-icon{float:left;margin:14px 0 0 9px;width:23px;height:12px;background: url(img/side-icon02.png);}
.totop .gotop:hover {background-color:#2c2d2e;}
.totop .cweixin {background: #dadbdd;}
.totop .cweixin div {background: url(img/app.png);width: 190px;height: 155px;position: absolute;left: -200px;opacity: 0;transform: scale(0);    -webkit-transform: scale(0);transform-origin: 100% 70%;-webkit-transform-origin: 100% 70%;transition: transform ease .3s,opacity ease .3s;-webkit-transition: all ease .3s;display:none\0;*display:none;}
.totop .cweixin:hover div {display: block;transform: scale(1);-webkit-transform: scale(1);opacity: 1;*display:block;}
.totop .cweixin .weixin-icon{float: left;margin:12px 0 0 11px;width:18px;height: 18px; background: url(img/side-icon01.png);}
.pagination {float: left;width: 748px;text-align: center;margin: 4px 0 10px 0}
.nav-links{display: inline-block;}
.pagination a, .pagination a:visited {float: left;background: #fff;margin: 10px 5px 10px 0;padding: 7px 10px;line-height: 100%;border: 1px solid #ebebeb;}
.pagination .current, .pagination .dots {background: #fff;float: left;margin: 10px 5px 0 0;padding: 7px 10px;line-height: 100%;border: 1px solid #ebebeb;}
.pagination span.current, .pagination a:hover {background: #ff88af;color: #fff;border: 1px solid #ff88af;}
.pagination a:active{background: #ff6b9c;color: #fff;border: 1px solid #ff6b9c;}
.screen-reader-text, .pages  {display: none;}
.pagination .dots{border: none;padding: 12px 10px}
#comments{float: left;}
#respond{padding: 10px;border-bottom: 10px solid #EEE}
#comment-textarea {padding: 10px;height: 16px;width: 618px;border: 1px solid #e2e2e2;outline: none;}
#comment-textarea:focus{border-color: #FF88AF;}
#submit {float: right;width: 80px;height: 38px;border: none;cursor: pointer;color: #fff;background-color: #ff88af;font-size: 18px;
}
.comment-author,.reply{display: none;}
